html {
  background-color:white;
  font-family: digital, courier;
  font-size:12pt;
}
header {
  background-color:rgba(0,0,0,0.5);
  padding: 0px;
  margin: 0px;
  overflow:auto;
  position:absolute; /*ie does not recognized position fixed;*/
    top:260px;
    left:0px;
  position: fixed;
    top:260px;
    left:0px;
  width: 100%;
  z-index: 2147483647;
  min-height:50px;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
}

#imgPower,
#imgMega,
#imgSuper {
  opacity:1;
}

header a {
  color: white;
  text-decoration: none;
}

.navList {
  list-style:none;
  padding-top: 15px;
  margin: 0;
  }
.navList li {
  margin: 0px 30px;
  vertical-align:middle;
  display:inline;
}

.anchor{
  display: block;
  height: 315px; /*same height as header*/
  margin-top: -315px; /*same height as header*/
  visibility: hidden;

}

footer {
  height:400px;
  visibility: hidden;
}
main {
  margin:0px;
}
.section {
  width:100%;
  min-height:230px;
  padding:30px 0px;
  margin:0;
  background: linear-gradient(#36C5F4,#ffffff);
  background: -moz-linear-gradient(#36C5F4,#ffffff);
  background: -webkit-linear-gradient(#36C5F4,#ffffff);
  border-radius:20px;
  overflow:auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.drawGame,
.winningNumbersContainer,
.quickpickOutput,
.quickpickInput,
.quickpickButton
{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

}

.drawGame {
  height: 310px;
  position:fixed;
    top:0;
    left:0;
}

.winningNumbers {
  margin-top: 307px;
}

.empty {
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

}

.gamebox {
  width: 200px;
  height: 200px;
  margin: 0px 10px;
}

.ballbox {
  width: 125px;
  height: 125px;
  margin: 0px 10px;
}
.gameCircle {
  width:100%;
  border-radius: 50%;
  padding-bottom:100%;
  position:relative;
  background: #F48A1E;
  box-shadow: inset -25px -25px 30px rgba(201, 80, 14, .7);
  -webkit-box-shadow: inset -25px -25px 30px rgba(201, 80, 14, .7);
  -moz-box-shadow: inset -25px -25px 30px rgba(201, 80, 14, .7);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.gameCircle:hover {
  background: #F59634;
  box-shadow: inset -25px -25px 30px rgba(206, 98, 38, .7);
  -webkit-box-shadow: inset -25px -25px 30px rgba(206, 98, 38, .7);
  -moz-box-shadow: inset -25px -25px 30px rgba(206, 98, 38, .7);
}

.gameCircle img {
  width: 80%;
  height: auto;
  position:absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.nextJackpotContainer {
  border: 1px solid black;
  box-shadow: 0px 0px 20px slategray;
  -moz-box-shadow: 0px 0px 20px slategray;
  -webkit-box-shadow: 0px 0px 20px slategray;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 20px;
  margin:0px auto;
  max-width:60%;
  max-width:50vw;
  padding:0px;
  background-color: black;
  color: red;
  text-align:center;
  font-size:40px;
  font-size:5vw; /*5% of the viewport width */
  font-weight:bold;
  font-family:digital, courier;
}

#nextJackpotDrawDate,
#winningNumbersDrawDate,
#quickpickDrawDate
{
  font-size:10px;
  font-size: 2vw;
  font-weight:normal;
  text-align:right;
  padding-right:10px;
}

.ballCircle, .ballMegaCircle {
  width:100%;
  border-radius: 50%;
  background: white;
  box-shadow: inset -25px -25px 30px rgba(192, 192, 192, .7);
  -moz-box-shadow: inset -25px -25px 30px rgba(192, 192, 192, .7);
  -webkit-box-shadow: inset -25px -25px 30px rgba(192, 192, 192, .7);
}

.ballMegaCircle {
  background: #1A4199;
  box-shadow: inset -25px -25px 30px rgba(11, 33, 82,.7);
  -webkit-box-shadow: inset -25px -25px 30px rgba(11, 33, 82,.7);
  -moz-box-shadow: inset -25px -25px 30px rgba(11, 33, 82,.7);
}

.ballCircle:after, .ballMegaCircle:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.ballCircle p, .ballMegaCircle p {
  float:left;
  width:100%;
  padding-top:50%;
  line-height:1em;
  margin-top:-0.5em;
  text-align:center;
  color:black;
  font-size:40px;
  font-size:4vw;
}

.ballMegaCircle p {
  color:white;
}

.quickpickInputField {
  width: 125px;
  margin: 0px 10px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  outline:none;
}

#buttonQP {
  margin: 30px 0px;
  width: 205.5px;
  height: 62.6px;
  border-radius: 10px;
  text-align: center;
  background-image:url(images/feelingLucky.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color:#C0C0C0;
  outline:none;
}
