html {
  background-color: white;
  font-family: Trebuchet MS;
  font-size:12pt;
  overflow-y:scroll;
}
header {
  background-color:#C4C4C4;
  padding:10px 30px;
  margin: 0px;
  overflow:auto;
  position:fixed;
    top:0;
    left:0;
  width: 100%;
  z-index:999;
}

header a {
  color: white;
  text-decoration: none;
}

body {
  margin:0;
}
nav {
  float:right;
  padding: 20px 50px 0 0;
}
.navList {
  display: -webkit-flex;
  display:flex;
  align-items:center;
  list-style:none;
  padding-top: 0;
  margin: 0;
  }
.navList li {
  margin: 0 0 0 30px;
  vertical-align:middle;
}

section {
  margin: 150 0;
}
.maindiv, .gamediv {
  padding:30px 0px;
  margin:0;
  background-image: linear-gradient(#36C5F4,#ffffff);
  border-radius:20px;
  overflow:hidden;
  box-sizing: border-box;
}
.gamediv {
  display:flex;
}
.emptyGame {
  flex:1;
}
.game {
  width: 200px;
  height: 200px;
  margin: 0px 10px;
  /*border: 1px solid black;*/
}
.circle {
  width:100%;
  border-radius: 50%;
  padding-bottom:100%;
  position:relative;
  background: #F48A1E;
  background: radial-gradient(circle at 60px 60px,#FBD0A5,#F48A1E);
}
.circle:hover {
  background: radial-gradient(circle at 120px 120px,#FBD0A5,#F48A1E);
}
.circle img {
  width: 80%;
  height: auto;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.jackpot {
  border: 1px solid black;
  box-shadow: 0px 0px 20px slategray;
  box-sizing: border-box;
  border-radius: 20px;
  margin:0px auto;
  max-width:60vw;
  padding:0px;
  background-color: black;
  color: red;
  text-align:center;
  font-size:40px;
  font-size:8vw;
  font-weight:bold;
  font-family:digital, courier;
}
